* {
    font-family: serif;
    
}
body {
    height: 100vh;
    margin: 0;
    background-color: #F2F0EF;
    display: flex;
    justify-content: center; /* align items horizontal */
    align-items: center; /* align items vertical */
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 25px;
    padding-left: 25px;
    background-color: #bdc3c7;
    color: black;
}

.sidebar .todo-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    
}

.sidebar .close-btn {
    cursor: pointer;
    border: none;
    background: none;
    align-items: end;
}

.box{
    height: 800px;
    width: 700px;
    background: transparent;
}

.title {
    background: goldenrod;
    text-align: center;
    height: 50px;
    width: 700px;

}